<div class="note">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><%= t('.title') %></h4>
    </div>
    <div class="panel-body">
      <%= form_for([:request, @note], remote: true) do |f| %>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
            <%= f.text_area(:comment, rows: 4, class: 'form-control', placeholder: t('placeholder.note')) %>
          </div>
        </div>
        <div class="form-group">
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <%= f.submit(t('buttons.submit'), class: 'btn btn-default btn-primary') %>
            </div>
            <%= link_to(t('buttons.cancel'), [@request, id_list: @id_list], remote: true, class: 'btn btn-default', role: :button) %>
          </div>
          <% @id_list.each do |idl| -%>
            <%= f.hidden_field "id_list][", :value => idl, id: nil %>
          <% end if @id_list -%>
        </div>
      <% end %>
    </div>
  </div>
</div>
