<div class="places">
  <%= form_for(:places, method: :get, remote: true) do |f| %>
    <%= hidden_field_tag :mobile, @mobile %>
    <div class="row">
      <div class="col-12">
        <div class="has-clear">
          <div class="input-group">
            <i class="fas fa-search input-group-text"></i>
            <%= text_field_tag(:pattern, @pattern, class: 'form-control', placeholder: t('placeholder.places_search'), id: 'places-search-pattern') %>
            <i class="far fa-times-circle form-control-clear"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= link_to(t('buttons.cancel'), [:map, mobile: @mobile], remote: true, class: 'btn btn-light btn-outline-secondary') %>
      </div>
    </div>
  <% end %>
  <div id="places_results">
    <%= render partial: 'places/mobile/results' %>
  </div>
</div>
