<div class="modal-header text-<%= @errors ? :warning : :success %>">
  <span class="glyphicon glyphicon-<%= @errors ? :alert : 'ok-sign' %>"></span>
  <%= t("#{ controller_name }.#{ context }.#{ action_name }.#{ @errors ? :error : :success }", @modal_title_options || {}) %>
</div>
<div class="modal-body">
  <% if (messages = @errors.try(:full_messages)).present? -%>
    <% if messages.size > 1 -%>
      <ul>
        <% messages.each do |message| -%>
          </li><%= message.html_safe %></li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= messages.first.html_safe %></p>
    <% end -%>
  <% end -%>
  <% if @success.present? -%>
    <p class="text-success"><%= @success %></p>
  <% end -%>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('buttons.ok') %></button>
</div>
