<div id="content">
  <div id="ol-map" class="ol-map-desktop">
    <div class="sidebar">
      <div class="tab-content">
        <div id="request" class="tab-pane active">
          <%= render partial: 'requests/desktop/start_request' %>
        </div>
        <div id="places" class="tab-pane">
        </div>
        <div id="watch" class="tab-pane">
          <%= render partial: 'areas/index' %>
        </div>
      </div>
      <ul class="nav nav-tabs tabs-right sideways">
        <li class="active">
          <a href="#request" data-toggle="tab"><%= t('.request') %></a>
        </li>
        <li>
          <a href="#places" data-toggle="tab" class="sidebar-tab" data-url="<%= places_path %>" data-tab="places">
            <%= t('.addresses') %>
          </a>
        </li>
        <li>
          <a href="#watch" data-toggle="tab"><%= t('.watch') %></a>
        </li>
      </ul>
    </div>
    <div class="panel panel-default map-panel">
      <div class="panel-heading" id="map-heading" role="tab">
        <%= link_to '#map-body', data: { toggle: 'collapse' }, class: 'collapsed',
          aria: { expanded: false, controls: 'map-body' } do %>
          <span>
            <%= t('.map_elements') %>
          </span>
        <% end -%>
      </div>
      <div id="map-body" class="collapse" role="tabpanel" aria-labelledby="map-heading">
        <div class="panel-body">
          <div class="row form-group">
            <div class="col-md-12">
              <div class="btn-group btn-group-justified" role="group">
                <%= link_to t('.aerial_view'), '#', id: 'aerial-view', class: 'btn btn-default switch-map-view' %>
                <%= link_to t('.map_view'), '#', id: 'map-view', class: 'btn btn-default switch-map-view active' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <%= check_box_tag :show_open, nil, true, class: 'show-feature', id: 'received', data: { key: 'status' } %>
                  <%= label_tag :received, t('status.received'), class: 'check-label' %>
                </div>
                <div class="col-md-12">
                  <%= check_box_tag :show_in_process, nil, true, class: 'show-feature', id: 'in_process', data: { key: 'status' } %>
                  <%= label_tag :in_process, t('status.in_process'), class: 'check-label' %>
                </div>
                <div class="col-md-12">
                  <%= check_box_tag :show_solved, nil, true, class: 'show-feature', id: 'processed', data: { key: 'status' } %>
                  <%= label_tag :processed, t('status.processed'), class: 'check-label' %>
                </div>
                <div class="col-md-12">
                  <%= check_box_tag :show_rejected, nil, true, class: 'show-feature', id: 'rejected', data: { key: 'status' } %>
                  <%= label_tag :rejected, t('status.rejected'), class: 'check-label' %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <%= check_box_tag :show_problem, nil, true, class: 'show-feature', id: 'problem', data: { key: 'typ' } %>
                  <%= label_tag :problem, t('problem', scope: 'service.types', count: 1), class: 'check-label' %>
                </div>
                <div class="col-md-12">
                  <%= check_box_tag :show_idea, nil, true, class: 'show-feature', id: 'idea', data: { key: 'typ' } %>
                  <%= label_tag :idea, t('idea', scope: 'service.types', count: 1), class: 'check-label' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="flash" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog"><div class="modal-content"></div></div>
</div>
