<% content_for :nav do -%>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#request" id="requests" data-toggle="tab" class="header-tab" data-url="<%= requests_path %>"><%= t('.request') %></a>
    </li>
    <li>
      <a href="#watch" id="areas" data-toggle="tab" class="header-tab" data-url="<%= areas_path %>"><%= t('.watch') %></a>
    </li>
  </ul>
<% end -%>
<div id="content">
  <div id="ol-map" class="ol-map-desktop">
    <div class="sidebar">
      <div class="tab-content">
        <div id="request" class="tab-pane active">
          <%= render partial: 'requests/desktop/start_request' %>
        </div>
        <div id="watch" class="tab-pane">
          <%= render partial: 'areas/index' %>
        </div>
      </div>
    </div>
    <div class="panel panel-primary address-search-field">
      <div class="panel-body">
        <%= text_field(:places, :search, class: 'form-control', placeholder: t(Settings::AddressSearch.search_request_id_enabled ? '.search' : '.address_search')) %>
      </div>
    </div>
    <div class="panel panel-primary map-panel">
      <div class="panel-heading" id="map-heading" role="tab">
        <%= link_to '#map-body', data: { toggle: 'collapse' }, class: 'collapsed',
          aria: { expanded: false, controls: 'map-body' } do %>
          <span>
            <%= t('.filter') %>
          </span>
        <% end -%>
      </div>
      <div id="map-body" class="collapse" role="tabpanel" aria-labelledby="map-heading">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <% %i(pending received in_process processed rejected).each do |st| -%>
                  <div class="col-md-12">
                    <%= check_box_tag "show_#{ st }", nil, true, class: 'show-feature', id: st, data: { key: 'status' } %>
                    <%= label_tag st, t("status.#{ st }"), class: 'check-label' %>
                  </div>
                <% end -%>
              </div>
            </div>
            <% unless service_code -%>
              <div class="col-md-6">
                <div class="row">
                  <% %i(problem idea).each do |type| -%>
                    <div class="col-md-12">
                      <%= check_box_tag "show_#{ type }", nil, true, class: 'show-feature', id: type, data: { key: 'typ' } %>
                      <%= label_tag type, t(type, scope: 'service.types', count: 1), class: 'check-label' %>
                    </div>
                  <% end -%>
                  <% if Settings::Client.respond_to?(:also_archived) && Settings::Client.also_archived -%>
                    <div class="col-md-12 archive">
                      <%= check_box_tag "also_archived", nil, false, class: 'show-feature', id: :archive, data: { key: 'archive' } %>
                      <%= label_tag :archive, t('archive'), class: 'check-label' %>
                    </div>
                  <% end -%>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-toggler open">
      <span></span>
    </div>
  </div>
</div>
<div class="modal fade" id="flash" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog"><div class="modal-content"></div></div>
</div>
