<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to(new_request_path(mobile: @mobile), remote: true, title: t("nav.request")) do %>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <% unless login_required? -%>
              <span><%= t("nav.request") %></span>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to(places_path(mobile: @mobile), remote: true, class: :places, title: t("nav.places")) do %>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <% unless login_required? -%>
              <span><%= t("nav.places") %></span>
            <% end %>
          <% end %>
        </li>
        <% if login_required? && has_field_service_team? -%>
          <li>
            <%= link_to(jobs_path(mobile: @mobile), remote: true, class: :jobs, title: t("nav.jobs")) do %>
              <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            <% end %>
          </li>
          <li>
            <%= link_to(map_path(mobile: @mobile), remote: true, class: :map, title: t("nav.map"),
                                                   id: :link_default_map, style: "display: none;") do %>
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            <% end %>
            <%= link_to(map_path(type: :jobs, mobile: @mobile), remote: true, class: :map, title: t("nav.job_map"), id: :link_job_map) do %>
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
            <% end %>
          </li>
        <% end -%>
        <% if !login_required? -%>
          <li>
            <a data-toggle="collapse" data-target="#navbar" href"#">
              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
  <div class="collapse" aria-expanded="false" id="navbar">
    <ul class="nav">
      <li>
        <a href="<%= imprint_static_path %>" class="imprint" title="<%= t("nav.imprint") %>" target="_blank">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span><%= t("nav.imprint") %></span>
        </a>
      </li>
      <li>
        <a href="<%= privacy_static_path %>" class="privacy" title="<%= t("nav.privacy") %>" target="_blank">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          <span><%= t("nav.privacy") %></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="modal fade" id="flash" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog"><div class="modal-content"></div></div>
</div>
<div id="ol-map" class="ol-map-mobile">
  <nav class="navbar navbar-default navbar-fixed-bottom actions hidden">
  </nav>
</div>
<% if @mobile && !login_required? -%>
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
<% end -%>
<% if @mobile -%>
  <div id="crosshair">
    <span class="glyphicon glyphicon-screenshot" />
  </div>
<% end -%>
<div id="content" class="container">
  <%= yield %>
</div>
