<div id="new-vote" class="request-container">
  <%= render partial: '/requests/desktop/request_header', locals: { label_photo_required: nil } %>
  <%= render '/application/desktop/errors' %>
  <%= form_for([:request, @vote], remote: true) do |f| %>
    <div class="row form-group">
      <%= label_tag :vote, t('.title'), class: 'col-md-12 control-label' %>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <%= t('.hint.text') %>
      </div>
      <div class="col-md-12 div-margin-top">
        <em class="text-danger"><%= t('.hint.warning_html') %></em>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <%= f.email_field(:author, class: 'form-control', placeholder: t('placeholder.email')) %>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <%= t('.hint.privacy_html') %>
      </div>
    </div>
    <div class="row form-group">
      <div class="btn-group btn-group-justified col-md-12 div-margin-top" role="group">
        <%= link_to(t('buttons.back'), [@request, id_list: @id_list], remote: true, class: 'btn btn-default',
                    role: :button) %>
        <div class="btn-group" role="group">
          <%= f.submit(t('buttons.save'), class: 'btn btn-primary') %>
        </div>
      </div>
    </div>
  <% end -%>
</div>
