<div class="requests">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('.title') %>
      <span class="badge pull-right clickable" data-target="<%= map_path(mobile: @mobile) %>">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </span>
      <span class="badge pull-right clickable" data-target="<%= url_for(session[:list]) %>">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      </span>
    </div>
    <% if @jobs.present? -%>
      <div class="list-group" data-update-url="<%= url_for(jobs_path) %>">
        <% @jobs.each do |job| -%>
          <%= link_to(request_path(job.id, id_list: @jobs.map(&:id), mobile: @mobile), remote: true, method: :get, class: 'list-group-item', 'data-job-id': job.id) do %>
            <div class="hidden-xs">
              <h4 class="list-group-item-heading right-badges">
                <%= image_tag(image_path(job.icon_list), alt: "#{ job.service.type }, #{ job.extended_attributes.detailed_status }") %>
                <span class="glyphicon glyphicon-flag <%= job.flag_color_class %>" aria-hidden="true"></span>
                #<%= job.id %> <%= job.service.group %> – <%= job.service_name %>
                <%= mark_photo_required(job) %>
                <% if display?(:trust) -%>
                  <%= mark_trust(job) %>
                <% end -%>
                <span class="badge sort-handle">
                  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </span>
                <span class="badge"><span class="glyphicon glyphicon-map-marker" data-lat="<%= job.lat %>" data-long="<%= job.long %>" aria-hidden="true"></span></span>
                <span class="badge"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
              </h4>
              <p class="list-group-item-text">
                <%= job.address %>
              </p>
            </div>
            <div class="visible-xs right-badges">
              <span class="list-group-item-heading">
                <%= image_tag(image_path(job.icon_list), alt: "#{ job.service.type }, #{ job.extended_attributes.detailed_status }") %>
                <span class="glyphicon glyphicon-flag <%= job.flag_color_class %>" aria-hidden="true"></span>
                #<%= job.id %>
                <%= mark_photo_required(job) %>
                <% if display?(:trust) -%>
                  <%= mark_trust(job) %>
                <% end -%>
              </span>
              <span class="badge sort-handle">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </span>
              <span class="badge"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>

              <div class="list-group-item-text heading">
                <%= job.service_name %>
              </div>
            </div>
          <% end %>
        <% end -%>
      </div>
    <% else -%>
      <div class="panel-body"><%= t('.empty_result') %></div>
    <% end -%>
  </div>
</div>
