<div class="requests">
  <div class="panel panel-default">
    <div class="panel-heading clickable" data-target="<%= url_for(session[:list]) %>">
      <%= t('.title') %>
      <span class="badge pull-right"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span>
    </div>
    <% if @jobs.present? -%>
      <div class="list-group" data-update-url="<%= url_for(jobs_path) %>">
        <% @jobs.each do |job| -%>
          <%= link_to(request_path(job.id), remote: true, method: :get, class: 'list-group-item', 'data-job-id': job.id) do %>
            <div class="hidden-xs right-badges">
              <%= image_tag(image_path(job.icon_list), alt: "#{ job.service.type }, #{ job.extended_attributes.detailed_status }") %>
              #<%= job.id %>: <%= job.title %>
              <%= mark_photo_required(job) %>
              <%= mark_trust(job) %>
              <span class="badge sort-handle">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </span>
              <span class="badge"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
            </div>
            <div class="visible-xs right-badges">
              <span class="list-group-item-heading">
                <%= image_tag(image_path(job.icon_list), alt: "#{ job.service.type }, #{ job.extended_attributes.detailed_status }") %>
                #<%= job.id %>
                <%= mark_photo_required(job) %>
                <%= mark_trust(job) %>
              </span>
              <span class="badge sort-handle">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </span>
              <span class="badge"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
              <div class="list-group-item-text heading">
                <%= job.title %>
              </div>
            </div>
          <% end %>
        <% end -%>
      </div>
    <% else -%>
      <div class="panel-body"><%= t('.empty_result') %></div>
    <% end -%>
  </div>
</div>
