<div class="vote">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('.title') %>
    </div>
    <div class="panel-body">
      <%= form_for([:request, @vote], remote: true) do |f| %>
        <%= hidden_field_tag :mobile, @mobile %>
        <div class="form-group">
          <span class="helper-block">
            <%= t('.hint.text') %>
            <em class="text-danger"><%= t('.hint.warning_html') %></em>
            <%= t('.hint.privacy_html') %>
          </span>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-feedback has-clear">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <%= f.email_field(:author, class: 'form-control', placeholder: t('placeholder.email')) %>
              </div>
              <span class="glyphicon glyphicon-remove-circle form-control-feedback form-control-clear" aria-hidden="true"></span>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <%= f.submit(t('buttons.submit'), class: 'btn btn-default btn-primary') %>
              </div>
              <%= link_to(t('buttons.cancel'), [@request, id_list: @id_list, mobile: @mobile], remote: true, class: 'btn btn-default', role: :button) %>
            </div>
            <% @id_list.each do |idl| -%>
              <%= f.hidden_field "id_list][", :value => idl, id: nil %>
            <% end if @id_list -%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
