<div id="new-abuse" class="request-container">
  <%= render partial: '/requests/desktop/request_header', locals: { label_photo_required: nil } %>
  <%= form_for([:request, @abuse], remote: true) do |f| %>
    <div class="row form-group">
      <%= label_tag :abuse, t('.title'), class: 'col-md-12 control-label' %>
    </div>
    <%= label_tag :hint, t('.hint.label'), class: 'col-md-12 control-label' %>
    <div class="col-md-12">
      <%= t('.hint.text') %>
      <em class="text-danger"><%= t('.hint.warning_html') %></em>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <%= f.text_area(:comment, rows: 4, class: 'form-control', placeholder: t('placeholder.reason')) %>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <%= f.email_field(:author, class: 'form-control', placeholder: t('placeholder.email')) %>
      </div>
    </div>
    <div class="row form-group">
      <div class="btn-group btn-group-justified col-md-12" role="group">
        <%= link_to(t('buttons.back'), [@request, id_list: @id_list], remote: true, class: 'btn btn-default',
                    role: :button) %>
        <div class="btn-group" role="group">
          <%= f.submit(t('buttons.save'), class: 'btn btn-primary') %>
        </div>
      </div>
    </div>
  <% end -%>
</div>
