<div class="request">
  <div class="browse">
    <% unless session[:id_list].blank? || session[:id_list].include?(@request.id) -%>
      <div class="btn-group btn-group-justified" role="group">
        <% if session[:id_list].first == @request.id -%>
          <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-backward'), '#', class: 'btn btn-default disabled') %>
        <% else -%>
          <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-backward'),
                      request_path(session[:id_list][session[:id_list].index(@request.id) - 1]),
                      remote: true, class: 'btn btn-default') %>
        <% end -%>
        <%= link_to(t('.actions.list'), url_for(session[:list]),
                    remote: true, class: 'btn btn-default') %>
        <% if session[:id_list].last == @request.id -%>
            <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-forward'), '#', class: 'btn btn-default disabled') %>
        <% else -%>
            <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-forward'),
                        request_path(session[:id_list][session[:id_list].index(@request.id) + 1]),
                        remote: true, class: 'btn btn-default') %>
        <% end -%>
      </div>
    <% end -%>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading clickable" data-target="<%= request_path(@request) %>">
      <h4 class="panel-title">
        <% type = t(@request.service.type, scope: 'service.types') %>
        <%= image_tag(image_path(@request.icon_list), alt: "#{ type }, #{ @request.detailed_status }") %>
        <%= type %>
        #<%= @request.id %>
        (<%= l(@request.requested_datetime.to_date) %>)
        <%= label_photo_required = mark_photo_required(@request) %>
        <%= mark_trust(@request) %>
        <span class="hidden-xs badge pull-right"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span>
      </h4>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Service.human_attribute_name(:group) %></h4>
        <p class="list-group-item-text"><%= @request.service.group %></p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Service.human_attribute_name(:service_name) %></h4>
        <p class="list-group-item-text"><%= @request.service %></p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:status) %></h4>
        <p class="list-group-item-text"><%= status(@request) %></p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:title) %></h4>
        <p class="list-group-item-text"><%= @request.title %></p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:description) %></h4>
        <p class="list-group-item-text"><%= @request.description %></p>
      </div>
      <% if (url = @request.media_url).present? -%>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">
            <%= Request.human_attribute_name(:media_url) %>
            <% if label_photo_required -%>
              <small><%= t('.hint_photo_required') %></small>
            <% end -%>
          </h4>
          <p class="list-group-item-text">
            <img src="<%= url %>" alt="<%= Request.human_attribute_name(:media_url) %>" class="img-rounded img-responsive" />
          </p>
        </div>
      <% end -%>
      <% if (notes = @request.status_notes).present? -%>
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:status_notes) %></h4>
          <p class="list-group-item-text"><%= notes %></p>
        </div>
      <% end -%>
      <% if (comments = @request.comments.to_a).present? -%>
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><%= Comment.model_name.human %></h4>
          <div class="list-group-item-text">
            <% comments.each do |comment| -%>
              <div class="panel panel-default">
                <div class="panel-heading"><%= comment.author %>, <%= l(comment.datetime.to_time) %></div>
                <div class="panel-body"><%= comment.comment %></div>
              </div>
            <% end -%>
          </div>
        </div>
      <% end -%>
      <% if (notes = @request.notes.to_a).present? -%>
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><%= Note.model_name.human %></h4>
          <div class="list-group-item-text">
            <% notes.each do |note| -%>
              <div class="panel panel-default">
                <div class="panel-heading"><%= note.author %>, <%= l(note.datetime.to_time) %></div>
                <div class="panel-body"><%= note.comment %></div>
              </div>
            <% end -%>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <% options = { remote: true, class: 'btn btn-default', role: :button } -%>
      <div class="btn-group btn-group-justified" role="group">
        <%= link_to(t('.actions.vote'), [:new, @request, :vote], options) %>
        <%= link_to(t('.actions.abuse'), [:new, @request, :abuse], options) %>
        <%= link_to(t('.actions.comment'), [:new, @request, :comment], options.merge(class: 'btn btn-default btn-xs')) %>
      </div>
      <div class="btn-group btn-group-justified" role="group">
        <%= link_to(t('.actions.edit'), [:edit, @request], options) %>
        <%= link_to(t('.actions.note'), [:new, @request, :note], options) %>
      </div>
    </div>
  </nav>
</div>
