<div class="right-badges">
  <span class="badge rounded-pill bg-secondary clickable" data-bs-target="<%= map_path(mobile: @mobile) %>">
    <i class="fas fa-times"></i>
  </span>
  <span class="badge rounded-pill bg-secondary clickable" data-bs-target="<%= request_path(request, mobile: @mobile, id_list: id_list) %>">
    <i class="fas fa-sync"></i>
  </span>
  <% if display?(:edit_request) -%>
    <span class="badge rounded-pill bg-secondary clickable" data-bs-target="<%= edit_request_path(request, mobile: @mobile, id_list: id_list) %>">
      <i class="fas fa-pencil-alt"></i>
    </span>
  <% end -%>
  <% if request.job_status && display?(:edit_status) -%>
    <div class="dropdown float-end mx-3">
      <button type="button" class="btn btn-light btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-flag <%= request.flag_color_class %>"></i>
      </button>
      <ul class="dropdown-menu">
        <% %w(checked unchecked not-checkable).each do |state| -%>
          <li>
            <%= link_to request_path(request, 'request[id_list]': id_list, mobile: @mobile, 'request[job_status]': state.underscore.upcase),
              method: :put, remote: true, class: 'dropdown-item' do %>
              <i class="fas fa-flag job-status <%= state %>"></i>
              <%= t(state.to_sym, scope: 'requests.job_status') %>
            <% end -%>
          </li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
</div>
