<div class="" id="headline">
  <h3><%= t('.headline', city_short: Settings::Client.city_short) %></h3>
</div>
<div class="row">
  <div class="col-3">
    <%= render(partial: 'recent_requests') %>
  </div>
  <div class="col-9">
    <% Dir.glob("#{ Settings::Client.resources_path }/starts/*").sort.each do |file| %>
      <%= render(file: file).html_safe %>
    <% end -%>
    <div id="statistic-card" class="card card-info">
      <div class="card-header">
        <h5 class="card-title"><%= t('.statistics') %></h5>
      </div>
      <div class="card-body row">
        <%= render(partial: "shared/statistic", locals: { css_col: 'col-3' }) %>
      </div>
    </div>
    <% if File.exist?(neuigkeiten = "#{ Settings::Client.resources_path }/neuigkeiten.html") -%>
      <div id="news-card" class="card card-info">
        <div class="card-header">
          <h5 class="card-title"><%= t('.news') %></h5>
        </div>
        <ul class="list-group">
          <%= render(file: neuigkeiten).html_safe %>
        </ul>
      </div>
    <% end -%>
  </div>
</div>
