</br>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h5 class="panel-title">
          <%= t('.recent_requests') %>
          <%= link_to [:observations, format: :xml], target: '_blank', title: t('.subscribe_requests_feed') do %>
            <%= image_tag image_path('rss.png') %>
        </h5>
          <% end -%>
      </div>
      <div class="panel-body">
        <% @requests.each do |req| -%>
          <div class="row form-group">
            <div class="col-md-12">
              <%= link_to [:map, request: req.id], title: t('buttons.perma_link', req_id: req.id),
                data: { turbolinks: false } do %>
                <div class="row">
                  <div class="col-md-2">
                    <%= image_tag req.icon_list %>
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-md-12">
                        <%= req.service.category %>
                      </div>
                      <div class="col-md-12">
                        <%= req.service %>
                      </div>
                      <% if (url = req.media_url).present? -%>
                        <div class="col-md-12">
                          <img src="<%= url %>" alt="<%= Request.human_attribute_name(:media_url) %>" 
                               class="img-rounded img-responsive" height="120" width="120" />
                        </div>
                      <% end -%>
                    </div>
                  </div>
                </div>
              <% end -%>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-primary start-panel">
      <div class="panel-body">
        <div class="row form-group">
          <div class="col-md-12">
            <%= t('.start_content') %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to t('buttons.requests'), [:map], role: :button, class: 'btn btn-primary', data: { turbolinks: false } %>
          </div>
        </div>
      </div>
    </div>
    <div id="news-panel" class="panel panel-info">
      <div class="panel-heading">
        <h5 class="panel-title"><%= t('.news') %></h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><%= t('.news_content_one') %></li>
        <li class="list-group-item"><%= t('.news_content_two') %></li>
      </ul>
    </div>
    <div id="statistic-panel" class="panel panel-info">
      <div class="panel-heading">
        <h5 class="panel-title"><%= t('.statistics') %></h5>
      </div>
      <div class="panel-body">
        <div class="row form-group">
          <div class="col-md-4">
            <%= t('.current') %>
          </div>
          <div class="col-md-8">
            <%= @current_count %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4">
            <%= t('.newest') %>
          </div>
          <div class="col-md-8">
            <%= @newest_count %>
          </div>
        </div>
        <div class="row form-group last-form-group">
          <div class="col-md-4">
            <%= t('.processed') %>
          </div>
          <div class="col-md-8">
            <%= @processed_count %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
