</br>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('.recent_requests') %>
        <%= link_to [:observations, format: :xml], target: '_blank', title: t('.subscribe_requests_feed') do %>
          <%= image_tag image_path('rss.png') %>
        <% end -%>
      </div>
      <div class="panel-body">
        <% @requests.each do |req| -%>
          <div class="row form-group">
            <div class="col-md-12">
              <%= link_to [:map, request: req.id], title: t('buttons.perma_link', req_id: req.id),
                data: { turbolinks: false } do %>
                <div class="row">
                  <div class="col-md-2">
                    <%= image_tag req.icon_list %>
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-md-12">
                        <%= req.service.category %>
                      </div>
                      <div class="col-md-12">
                        <%= req.service %>
                      </div>
                      <% if (url = req.media_url).present? -%>
                        <div class="col-md-12">
                          <img src="<%= url %>" alt="<%= Request.human_attribute_name(:media_url) %>" 
                               class="img-rounded img-responsive" height="120" width="120" />
                        </div>
                      <% end -%>
                    </div>
                  </div>
                </div>
              <% end -%>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row form-group">
          <div class="col-md-12">
            <%= Settings::Client.name %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to t('buttons.requests'), [:map], role: :button, class: 'btn btn-primary', data: { turbolinks: false } %>
          </div>
        </div>
      </div>
    </div>
    <div id="news-panel" class="panel panel-default">
      <div class="panel-heading"><%= t('.news') %></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </div>
    <div id="statistic-panel" class="panel panel-default">
      <div class="panel-heading"><%= t('.statistics') %></div>
      <div class="panel-body">
        <div class="row form-group">
          <%= label_tag :overall, t('.overall'), class: 'col-md-4 control-label' %>
          <div class="col-md-8">
            <%= @overall_count %>
          </div>
        </div>
        <div class="row form-group">
          <%= label_tag :newest, t('.newest'), class: 'col-md-4 control-label' %>
          <div class="col-md-8">
            <%= @newest_count %>
          </div>
        </div>
        <div class="row form-group">
          <%= label_tag :processed, t('.processed'), class: 'col-md-4 control-label' %>
          <div class="col-md-8">
            <%= @processed_count %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
