
<div class="" id="headline">
  <h3>
    <% type = t(@request.service.type, scope: 'service.types', count: 1) %>
    <%= type %>
    #<%= @request.id %>
  </h3>
</div>

<h2 class="text-center"><%= t('.accepted') %></h2>

<div class="text-center">
  <%= t('.get_to_issue') %>: <span class="link"><%= link_to "##{@request.id}", [:map, request: @request.id], title: t('buttons.perma_link', req_id: @request.id), data: { turbolinks: false } %></span>
</span>
