<div class="protocol">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('.title') %>
    </div>
    <div class="panel-body">
      <%= form_for([:request, @protocol], remote: true, authenticity_token: true, html: { class: 'form-horizontal fileupload' }) do |f| %>
        <div class="form-group">
          <%= f.label(:process_number, Protocol.human_attribute_name(:process_number), class: 'col-md-2 control-label') %>
          <div class="col-md-10">
            <%= f.text_field(:process_number, class: 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:message_number, Protocol.human_attribute_name(:message_number), class: 'col-md-2 control-label') %>
          <div class="col-md-10">
            <%= f.text_field(:message_number, class: 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:user, Protocol.human_attribute_name(:recorder), class: 'col-md-2 control-label') %>
          <div class="col-md-10">
            <%= f.text_field(:user, class: 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:text, Protocol.human_attribute_name(:text), class: 'col-md-2 control-label') %>
          <div class="col-md-10">
            <%= f.text_area(:text, rows: 5, class: 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:attachments, Protocol.human_attribute_name(:attachments), class: 'col-md-2 control-label') %>
          <div class="col-md-10">
            <span id="attachments">
              <span id="attachment-prototype" style="display: none;">
                <%= f.file_field :attachments, :name => "protocol[attachments][]", :id => nil %><br/>
              </span>
              <%= f.file_field :attachments, :name => "protocol[attachments][]", :id => nil %><br/>
            </span>
            <div class="btn-group btn-group-justified more_attachment" role="group">
              <%= link_to(t('.actions.more_attachment'), "#", { class: 'btn btn-default', role: :button }) %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <%= f.submit(t('.actions.send'), class: 'btn btn-default btn-primary') %>
              </div>
              <%= link_to(t('buttons.cancel'), [@request, id_list: @id_list], remote: true, class: 'btn btn-default', role: :button) %>
            </div>
          </div>
        </div>
        <% @id_list.each do |idl| -%>
          <%= f.hidden_field "id_list][", :value => idl, id: nil %>
        <% end if @id_list -%>
      <% end %>
    </div>
  </div>
</div>
