<div class="requests">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('.title') %>
      <span class="badge pull-right clickable" data-target="<%= map_path(mobile: @mobile) %>">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </span>
      <span class="badge pull-right clickable" data-target="<%= url_for(session[:referer_params].permit!) %>">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      </span>
    </div>
    <% if @requests.present? -%>
      <div class="list-group">
        <% @requests.each do |req| -%>
          <%= link_to(request_path(req.id, id_list: @requests.map(&:id), mobile: @mobile), remote: true, class: 'list-group-item') do %>
            <div class="hidden-xs right-badges">
              <%= image_tag(image_path(req.icon_list), alt: "#{ req.service.type }, #{ req.extended_attributes.detailed_status }") %>
              #<%= req.id %> <%= req.service.group %> – <%= req.service_name %>
              <%= mark_photo_required(req) %>
              <% if display?(:trust) -%>
                <%= mark_trust(req) %>
              <% end -%>
              <span class="badge"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
            </div>
            <div class="visible-xs right-badges">
              <span class="list-group-item-heading">
                <%= image_tag(image_path(req.icon_list), alt: "#{ req.service.type }, #{ req.extended_attributes.detailed_status }") %>
                #<%= req.id %> <%= req.service.group %> – <%= req.service_name %>
                <%= mark_photo_required(req) %>
                <% if display?(:trust) -%>
                  <%= mark_trust(req) %>
                <% end -%>
              </span>
              <span class="badge"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
              <div class="list-group-item-text heading">
                <%= req.service.group %> – <%= req.service_name %>
              </div>
            </div>
          <% end %>
        <% end -%>
      </div>
    <% else -%>
      <div class="panel-body"><%= t('.empty_result') %></div>
    <% end -%>
  </div>
</div>
