<div class="request">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= image_tag(image_path(@request.icon_list), alt: type = t(@request.type, scope: 'service.types', count: 1)) %>
        <%= type.humanize %>
      </h4>
    </div>
    <div class="panel-body">
      <%= form_for(@request, remote: true, authenticity_token: true,
                   html: { class: 'form-horizontal fileupload', data: { 'validation-error-headline': t('requests.create.error.one') } }) do |f| %>
        <%= hidden_field_tag :mobile, @mobile %>
        <%= f.hidden_field(:lat, data: { 'missing-message': t('requests.create.error.required.lat') }) %>
        <%= f.hidden_field(:long, data: { 'missing-message': t('requests.create.error.required.long') }) %>
        <div id="request-category-1" class="form-group category">
          <label for="request_category_1" class="col-md-2 control-label"><%= Request.human_attribute_name(:category) %></label>
          <div class="col-md-4">
            <%= select_tag(:request_category, categories(@request.type), id: :request_category_1,
                           class: 'form-control', data: { update: :request_service_code_1 }) %>
          </div>
          <div class="col-md-4">
            <%= f.select(:service_code, services(), {}, id: :request_service_code_1,
                         class: 'form-control', name: 'request[service_code][]',
                         data: { src: services_path(type: @request.type),
                                 placeholder: t('placeholder.select.service'),
                                 'missing-message': t('requests.create.error.required.category') }) %>
          </div>
          <% if multi_requests_enabled? %>
            <div class="col-md-2">
              <div class="btn-group btn-group-justified" role="group">
                <a href="#request-category-2" class="btn btn-default" role="button" data-action="show">
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </div>
            </div>
          <% end %>
        </div>
        <div id="request-category-2" class="form-group category hidden">
          <div class="col-md-4 col-md-offset-2">
            <%= select_tag(:request_category, categories(@request.type), id: :request_category_2,
                           class: 'form-control', data: { update: :request_service_code_2 }) %>
          </div>
          <div class="col-md-4">
            <%= f.select(:service_code, services(), {}, id: :request_service_code_2,
                         class: 'form-control', name: 'request[service_code][]',
                         data: { src: services_path(type: @request.type),
                                 placeholder: t('placeholder.select.service') }) %>
          </div>
          <div class="col-md-2">
            <div class="btn-group btn-group-justified" role="group">
              <a href="#request-category-3" class="btn btn-default" role="button" data-action="show">
                <span class="glyphicon glyphicon-plus"></span>
              </a>
              <a href="#request-category-2" class="btn btn-default" role="button" data-action="hide">
                <span class="glyphicon glyphicon-minus"></span>
              </a>
            </div>
          </div>
        </div>
        <div id="request-category-3" class="form-group category hidden">
          <div class="col-md-4 col-md-offset-2">
            <%= select_tag(:request_category, categories(@request.type), id: :request_category_3,
                           class: 'form-control', data: { update: :request_service_code_3 }) %>
          </div>
          <div class="col-md-4">
            <%= f.select(:service_code, services(), {}, id: :request_service_code_3,
                         class: 'form-control', name: 'request[service_code][]',
                         data: { src: services_path(type: @request.type),
                                 placeholder: t('placeholder.select.service') }) %>
          </div>
          <div class="col-md-2">
            <div class="btn-group btn-group-justified" role="group">
              <a href="#request-category-3" class="btn btn-default" role="button" data-action="hide">
                <span class="glyphicon glyphicon-minus"></span>
              </a>
            </div>
          </div>
        </div>
        <% if display?(:email) -%>
          <div class="form-group">
            <%= f.label(:email, Request.human_attribute_name(:email), class: 'col-md-2 control-label') %>
            <div class="col-md-10">
              <%= f.email_field(:email, class: 'form-control') %>
            </div>
          </div>
        <% end -%>
        <div class="form-group">
          <%= f.label(:description, Request.human_attribute_name(:description), class: 'col-md-2 control-label') %>
          <div class="col-md-10">
            <%= f.text_area(:description, rows: 5, class: 'form-control', data: { 'missing-message': t('requests.create.error.required.description') }) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:media, Request.human_attribute_name(:media), class: 'col-md-2 control-label') %>
          <div class="col-md-10">
            <%= f.file_field(:media, multiple: false, accept: 'image/png,image/jpeg') %>
          </div>
        </div>
        <% if display?(:email) -%>
          <div class="form-group">
            <label class="col-md-2 control-label"><%= t('.hint.label') %></label>
            <div class="col-md-10">
              <p class="form-control-static"><%= t('.hint.text_mobile_html') %></p>
            </div>
          </div>
        <% end -%>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <%= f.submit(t('buttons.save'), class: 'btn btn-default btn-primary') %>
              </div>
              <%= link_to(t('buttons.cancel'), map_path(mobile: @mobile), remote: true,
                          class: 'btn btn-default', role: :button) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
