<div class="row form-group">
  <h4>
    <div class="col-md-12">
      <%= @request.service %>
    </div>
  </h4>
  <div class="col-md-12">
    <%= link_to('#', id: 'open-request', data: { url: request_path(@request.id, mobile: @mobile)}) do %>
      <h3 class="glyphicon glyphicon-eye-open"></h3>
    <% end -%>

    <% type = t(@request.service.type, scope: 'service.types', count: 1) %>
    <%= type %>
    #<%= @request.id %>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-12"><%= status(@request, show_currently: false) %></div>
</div>
<% if (description = @request.description).present? -%>
  <div class="row form-group">
    <div class="col-md-12"><em><%= truncate(description, length: 40).html_safe %></em></div>
  </div>
<% end -%>
