<div class="request">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="hidden-xs panel-title">
        <% type = t(@request.service.type, scope: 'service.types', count: 1) %>
        <%= image_tag(image_path(@request.icon_list), alt: "#{ type }, #{ @request.detailed_status }") %>
        <%= type %>
        #<%= @request.id %>
        (<%= l(@request.requested_datetime.to_date) %>)
        <%= label_photo_required = mark_photo_required(@request) %>
        <% if display?(:trust) -%>
          <%= mark_trust(@request) %>
        <% end -%>
        <%= link_to [:map, request: @request.id],
          data: { turbolinks: false } do %>
          <span class="glyphicon glyphicon-link"></span>
        <% end -%>
        <%= render partial: 'show_panel_title_buttons', locals: { request: @request, id_list: @id_list } %>
      </h4>
      <h4 class="visible-xs panel-title">
        <div class="list-group-item-heading">
          <% type = t(@request.service.type, scope: 'service.types', count: 1) %>
          <%= image_tag(image_path(@request.icon_list), alt: "#{ type }, #{ @request.detailed_status }") %>
          #<%= @request.id %>
          <% if display?(:trust) -%>
            <%= mark_trust(@request) %>
          <% end -%>
          <%= label_photo_required = mark_photo_required(@request) %>
          <%= render partial: 'show_panel_title_buttons', locals: { request: @request, id_list: @id_list } %>
        </div>
        <div class="list-group-item-text">
          <%= type %>
          (<%= l(@request.requested_datetime.to_date) %>)
        </div>
      </h4>
      <% if !login_required? -%>
        <div class="shariff" data-button-style="icon"
             data-title="<%= Settings::Client.name %> #<%= @request.id %> <%= @request.service %>"
             data-url="<%= URI.join(Settings::Url.ks_server_url, url_for([:map, request: @request.id])) %>"
             data-services="['facebook', 'twitter', 'whatsapp', 'xing', 'linkedin', 'pinterest', 'googleplus', 'diaspora']"></div>
      <% end -%>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Service.human_attribute_name(:group) %></h4>
        <p class="list-group-item-text"><%= @request.service.group %></p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Service.human_attribute_name(:service_name) %></h4>
        <p class="list-group-item-text"><%= @request.service %></p>
      </div>
      <% if @request.description.present? -%>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:description) %></h4>
        <p class="list-group-item-text"><em><%= @request.description %></em></p>
      </div>
      <% end -%>
      <% if display?(:votes) -%>
        <div id="request-show" class="<%="#{ @request.service.type } list-group-item"%>">
          <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:votes) %></h4>
          <p class="list-group-item-text">
            <%= t(".votes#{ '_under_min_req' if @request.idea? && @request.under_req? }_html", votes: @request.votes) %>
            <%= t('.votes_min_req', min_req: @request.min_req) if @request.idea? %>
          </p>
        </div>
      <% end -%>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:status) %></h4>
        <p class="list-group-item-text"><%= status(@request) %></p>
      </div>
      <% if (notes = @request.status_notes).present? -%>
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:status_notes) %></h4>
          <p class="list-group-item-text"><em><%= notes.html_safe %></em></p>
        </div>
      <% end -%>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          <%= Request.human_attribute_name(:media_url) %>
        </h4>
        <% if label_photo_required -%>
          <small><%= t('.hint_photo_required') %></small>
        <% end -%>
        <p class="list-group-item-text">
          <div class="form-group">
            <% if (url = @request.media_url).present? -%>
              <img src="<%= url %>" alt="<%= Request.human_attribute_name(:media_url) %>" class="img-rounded img-responsive" />
            <% else -%>
              <i>kein Foto vorhanden</i>
            <% end -%>
          </div>
          <% if @request.media_required? && !login_required? -%>
            <%= form_for([@request, @photo], remote: true, html: { class: 'form-horizontal fileupload' }) do |f| %>
              <%= hidden_field_tag :mobile, @mobile %>
              <div class="form-group">
                <div class="col-md-10">
                  <%= f.file_field(:media, multiple: false, accept: 'image/png,image/jpeg') %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-2">
                  <%= f.label(:author, Request.human_attribute_name(:author), class: 'control-label') %>
                </div>
                <div class="col-md-12">
                  <%= f.email_field(:author, class: 'form-control') %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.submit(t('buttons.upload'), class: 'btn btn-primary') %>
                </div>
              </div>
            <% end -%>
          <% end -%>
        </p>
      </div>
      <% if display?(:comments) && (comments = @request.comments.to_a).present? -%>
        <div class="list-group-item">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>
                <a data-toggle="collapse" href="#comments" aria-controls="comments">
                  <%= Comment.model_name.human %>
                  <span class="caret"></span>
                </a>
              </h4>
            </div>
            <div id="comments" class="panel-body list-group collapse">
              <% comments.each do |comment| -%>
                <div class="list-group-item">
                  <h5 class="list-group-item-heading"><%= comment.author %>, <%= l(comment.datetime.to_time) %></h5>
                  <div class="list-group-item-text"><%= comment.comment %></div>
                </div>
              <% end -%>
            </div>
          </div>
        </div>
      <% end -%>
      <% if display?(:notes) -%>
        <div class="list-group-item">
          <div class="panel panel-default">
            <% notes = @request.notes.to_a %>
            <div class="panel-heading">
              <h4>
                <a data-toggle="collapse" href="#notes" aria-controls="notes">
                  <%= Note.model_name.human %> (<%= notes.size %>)
                  <span class="caret"></span>
                </a>
                <span class="badge pull-right clickable" data-target="<%= new_request_note_path(@request, id_list: @id_list, mobile: @mobile) %>">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </span>
              </h4>
            </div>
            <div id="notes" class="panel-body list-group collapse">
              <% notes.each do |note| -%>
                <div class="list-group-item">
                  <h5 class="list-group-item-heading"><%= note.author %>, <%= l(note.datetime.to_time) %></h5>
                  <div class="list-group-item-text"><%= note.comment %></div>
                </div>
              <% end -%>
            </div>
          </div>
        </div>
      <% end -%>
      <div class="list-group-item actions">
        <% options = { remote: true, class: 'btn btn-default', role: :button } -%>
        <% if display?(:abuses) || display?(:votes) -%>
          <div class="btn-group btn-group-justified" role="group">
            <%= link_to(t('.actions.vote'), [:new, @request, :vote, id_list: @id_list, mobile: @mobile], options) if display?(:votes) %>
            <%= link_to(t('.actions.abuse'), [:new, @request, :abuse, id_list: @id_list, mobile: @mobile], options) if display?(:abuses) %>
          </div>
        <% end -%>
        <div class="btn-group btn-group-justified" role="group">
          <%= link_to(t('.actions.comment'), [:new, @request, :comment, id_list: @id_list, mobile: @mobile],
                      options.merge(class: 'btn btn-default')) if display?(:create_comment) %>
          <% if display?(:d3_document_url) && @request.service.document_url.present? -%>
            <%= link_to(t('.actions.d3_document'), d3_document_url(@request),
                        options.merge(class: 'btn btn-default', target: '_blank', :remote => false)) %>
          <% elsif display?(:protocol) -%>
            <%= link_to(t('.actions.kod'), [:new, @request, :protocol, mobile: @mobile],
                        options.merge(class: 'btn btn-default')) %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
  <% if @id_list.try(:include?, @request.id) -%>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="btn-group btn-group-justified" role="group">
          <% if @id_list.first == @request.id -%>
            <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-backward'), '#', class: 'btn btn-default disabled') %>
          <% else -%>
            <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-backward'),
                        request_path(@id_list[@id_list.index(@request.id) - 1], id_list: @id_list, mobile: @mobile),
                        remote: true, class: 'btn btn-default') %>
          <% end -%>
          <%= link_to(t('.actions.list'), url_for(session[:referer_params]),
                      remote: true, class: 'btn btn-default btn-xs') %>
          <% if @id_list.last == @request.id -%>
            <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-forward'), '#', class: 'btn btn-default disabled') %>
          <% else -%>
            <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-forward'),
                        request_path(@id_list[@id_list.index(@request.id) + 1], id_list: @id_list, mobile: @mobile),
                        remote: true, class: 'btn btn-default') %>
          <% end -%>
        </div>
      </div>
    </nav>
  <% end -%>
</div>
