<div class="modal-header text-<%= @errors ? :warning : :success %>">
  <span class="glyphicon glyphicon-<%= @errors ? :alert : 'ok-sign' %>"></span>
  <%= t(".title.#{ @errors ? :error : :success }") %>
</div>
<div class="modal-body">
  <% if @errors.present? -%>
    <% @errors.full_messages.each do |msg| -%>
      <p><%= msg.html_safe %></p>
    <% end -%>
  <% else -%>
    <%= t('.success') %>
  <% end -%>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('buttons.ok') %></button>
</div>
