<%= f.hidden_field :service_code, id: 'request_service_code_1', value: service_code %>
<%= f.hidden_field :type, value: @request.type %>
<div id="form-page-1">
  <div class="row">
    <%= label_tag :step, t('.step_one'), class: 'col-form-label col-12' %>
  </div>
  <div class="row">
    <%= label_tag :where, t('.where'), class: 'col-12' %>
    <div class="col-12"><%= t('.place_icon') %></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="btn-group d-flex col-12" role="group">
        <%= link_to(t('buttons.cancel'), [:map, cancel: true], remote: true, class: 'btn btn-light btn-outline-secondary back') %>
        <%= link_to(t('buttons.continue'), '#', remote: true, class: 'btn btn-primary btn-continue',
                    role: :button, data: { current: '1', next: '3', url: new_request_path }) %>
      </div>
    </div>
  </div>
</div>
<div id="form-page-3" class="hidden-page">
  <div class="row">
    <%= label_tag :step, t('.step_two'), class: 'col-form-label col-12' %>
  </div>
  <div class="row">
    <%= label_tag :what_exactly, t('.what_exactly'), class: 'col-12' %>
    <div class="col-12">
      <%= f.text_area(:description, rows: 5, class: 'form-control', placeholder: t('placeholder.description'),
                      data: { 'missing-message': t('requests.create.error.required.description') }) %>
    </div>
  </div>
  <div class="row">
    <%= f.label(:media, Request.human_attribute_name(:media), class: 'col-12 col-form-label') %>
    <div class="col-12"><%= t('.photo_hint') %></div>
    <div class="col-12">
      <%= f.file_field(:media, multiple: false, accept: 'image/png,image/jpeg') %>
    </div>
  </div>
  <div class="row">
    <%= label_tag :hint, t('.hint.label'), class: 'col-12 col-form-label' %>
    <div class="col-12"><%= t('.hint.text') %></div>
  </div>
  <div class="row" class="hidden-page">
    <div class="btn-group d-flex col-12" role="group">
      <%= link_to(t('buttons.back'), '#', remote: true,
                  class: 'btn btn-light btn-outline-secondary btn-continue back', role: :button,
                  data: { current: '3', next: '1' }) %>
      <%= link_to(t('buttons.continue'), '#', remote: true,
                  class: 'btn btn-primary btn-continue', role: :button,
                  data: { current: '3', next: 'submit' }) %>
    </div>
  </div>
</div>
<div id="form-page-submit" class="hidden-page">
  <div class="row">
    <%= label_tag :step, t('.step_three'), class: 'col-form-label col-12' %>
  </div>
  <div class="row">
    <%= label_tag :confirmation, t('.confirmation'), class: 'col-12 col-form-label' %>
  </div>
  <% if display?(:email) -%>
    <div class="row">
      <div class="col-12">
        <%= f.email_field(:email, class: 'form-control', placeholder: t('placeholder.email')) %>
      </div>
    </div>
  <% end -%>
  <% if display?(:privacy_policy) -%>
    <%= render partial: 'privacy_policy_form', locals: { form: f } %>
  <% else -%>
    <div class="row">
      <div class="col-12">
        <%= t('.confirmation_text_privacy_html') %>
      </div>
    </div>
  <% end -%>
  <div class="row">
    <div class="col-12 div-margin-top">
      <%= t('.confirmation_text_html') %>
    </div>
    <div class="col-12 div-margin-top">
      <em class="text-danger"><%= t('.confirmation_text_warning_html') %></em>
    </div>
  </div>
  <div class="row">
    <div class="btn-group d-flex col-12" role="group">
      <%= link_to(t('buttons.back'), '#', remote: true,
                  class: 'btn btn-light btn-outline-secondary btn-continue back', role: :button,
                  data: { current: 'submit', next: '3' }) %>
      <%= f.submit(t('buttons.save'), class: 'btn btn-primary') %>
    </div>
  </div>
</div>
