<div id="show-request" class="request-container">
  <div class="list-group">
    <div class="list-group-item">
      <h4 class="list-group-item-heading"><%= Service.human_attribute_name(:group) %></h4>
      <p class="list-group-item-text"><%= @request.service.group %></p>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading"><%= Service.human_attribute_name(:service_name) %></h4>
      <p class="list-group-item-text"><%= @request.service %></p>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:status) %></h4>
      <p class="list-group-item-text"><%= status(@request) %></p>
    </div>
    <% if display?(:votes) -%>
      <div id="request-show" class="<%="#{ @request.service.type } list-group-item"%>">
        <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:votes) %></h4>
        <p class="list-group-item-text"><b>
          <%= t(".votes#{ '_under_min_req' if @request.idea? && @request.under_req? }_html", votes: @request.votes) %>
          <%= t('.votes_min_req', min_req: @request.min_req) if @request.idea? %>
          <%= link_to('+1', [:new, @request, :vote, id_list: @id_list], class: 'btn btn-xs btn-default',
                      remote: true, role: :button) if display?(:votes) %>
        </b></p>
      </div>
    <% end -%>
    <% if (notes = @request.status_notes).present? -%>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:status_notes) %></h4>
        <p class="list-group-item-text"><%= notes %></p>
      </div>
    <% end -%>
    <div class="list-group-item">
      <h4 class="list-group-item-heading"><%= Request.human_attribute_name(:description) %></h4>
      <p class="list-group-item-text"><%= @request.description %></p>
    </div>
    <% if (url = @request.media_url).present? -%>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          <%= Request.human_attribute_name(:media_url) %>
          <% if label_photo_required -%>
            <small><%= t('.hint_photo_required') %></small>
          <% end -%>
        </h4>
        <p class="list-group-item-text">
          <img src="<%= url %>" alt="<%= Request.human_attribute_name(:media_url) %>" class="img-rounded img-responsive" />
        </p>
      </div>
    <% end -%>
    <% if display?(:comments) && (comments = @request.comments.to_a).present? -%>
      <div class="list-group-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
              <a data-toggle="collapse" href="#comments" aria-controls="comments">
                <%= Comment.model_name.human %>
                <span class="caret"></span>
              </a>
            </h4>
          </div>
          <div id="comments" class="panel-body list-group collapse">
            <% comments.each do |comment| -%>
              <div class="list-group-item">
                <h5 class="list-group-item-heading"><%= comment.author %>, <%= l(comment.datetime.to_time) %></h5>
                <div class="list-group-item-text"><%= comment.comment %></div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    <% end -%>
    <% if display?(:notes) -%>
      <div class="list-group-item">
        <div class="panel panel-default">
          <% notes = @request.notes.to_a %>
          <div class="panel-heading">
            <h4>
              <a data-toggle="collapse" href="#notes" aria-controls="notes">
                <%= Note.model_name.human %> (<%= notes.size %>)
                <span class="caret"></span>
              </a>
              <span class="badge pull-right clickable" data-target="<%= new_request_note_path(@request, id_list: @id_list) %>">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </span>
            </h4>
          </div>
          <div id="notes" class="panel-body list-group collapse">
            <% notes.each do |note| -%>
              <div class="list-group-item">
                <h5 class="list-group-item-heading"><%= note.author %>, <%= l(note.datetime.to_time) %></h5>
                <div class="list-group-item-text"><%= note.comment %></div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    <% end -%>
    <% options = { remote: true, class: 'btn btn-default', role: :button } -%>
    <div class="list-group-item actions">
      <% if display?(:abuses) -%>
        <div class="btn-group btn-group-justified" role="group">
          <%= link_to(t('.actions.abuse'), [:new, @request, :abuse, id_list: @id_list], options) if display?(:abuses) %>
        </div>
      <% end -%>
      <div class="btn-group btn-group-justified" role="group">
        <%= link_to(t('.actions.comment'), [:new, @request, :comment, id_list: @id_list],
                    options.merge(class: 'btn btn-default')) if display?(:create_comment) %>
        <%= link_to(t('.actions.kod'), [:new, @request, :protocol], options.merge(class: 'btn btn-default')) if display?(:protocol) %>
      </div>
    </div>
  </div>
</div>
