<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title><%= t("pagetitle#{ '_mobile_client' unless login_required? }") %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% unless @mobile -%>
      <header>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <%= image_tag image_path('klarschiff.png') %>
                </div>
              </div>
              <div class="row">
                <%= yield :nav %>
                <div class="col-md-4" id="textsizer">
                  <div class="btn-group textresizer">
                    <%= link_to 'javascript:;', class: 'btn btn-sm btn-default', remote: true do %>
                      A-
                    <% end -%>
                    <%= link_to 'javascript:;', class: 'btn btn-sm btn-default textresizer-active', remote: true do %>
                      A
                    <% end -%>
                    <%= link_to 'javascript:;', class: 'btn btn-sm btn-default', remote: true do %>
                      A+
                    <% end -%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <%= link_to [:root] do %>
                  <h1><%= Settings::Client.name %></h1>
                <% end -%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-right">
                <%= link_to t(:help), [:help, :static] %> |
                <%= link_to t(:usage), [:usage, :static] %> |
                <%= link_to t(:privacy), [:privacy, :static] %>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div id="main-content" class="container">
        <%= yield %>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="systray">
            <div class="text-center">
              <%= link_to t(:mobile), [:map, mobile: true], data: { turbolinks: false } %> |
              <%= link_to t(:api), [:api, :static] %> |
              <%= link_to t(:impressum), [:impressum, :static] %>
            </div>
          </div>
        </div>
      </footer>
    <% else -%>
      <%= yield %>
    <% end -%>
    <div id="throbber">
      <img id="throbber-img" src="<%= image_path 'throbber.gif' %>" />
    </div>
    <div id="image-sources">
      <img id="new-idea" src="<%= image_path 'icons/map/active/png/idea-gray.png' %>" />
      <img id="new-problem" src="<%= image_path 'icons/map/active/png/problem-gray.png' %>" />
      <img id="new-blank" src="<%= image_path 'icons/map/active/png/blank-gray.png' %>" />
      <% if login_required? -%>
        <img id="new-tip" src="<%= image_path 'icons/map/active/png/tip-gray.png' %>" />
      <% end -%>
      <img id="cluster" src="<%= image_path 'icons/map/cluster/png/cluster.png' %>" />
    </div>
  </body>
</html>
