<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KlarschiffFieldService</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" title="Standort aktualisieren">
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                <span class="hidden-sm hidden-md">Standort</span>
              </a>
            </li>
            <li>
              <%= link_to(places_path, remote: true, class: :places, title: "Standortsuche") do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <span class="hidden-sm hidden-md">Standortsuche</span>
              <% end %>
            </li>
            <li>
              <a href="#" class="layer-switcher" title="Kartenhintergrund ändern">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                <span class="hidden-sm hidden-md">Kartenhintergrund</span>
              </a>
            </li>
            <li>
              <a href="#" title="Problem melden">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="hidden-sm hidden-md">Problem melden</span>
              </a>
            </li>
            <li>
              <a href="#" title="Idee melden">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                <span class="hidden-sm hidden-md">Idee melden</span>
              </a>
            </li>
            <li>
              <%= link_to(map_path, remote: true, class: :map, title: "Karte") do %>
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <span class="hidden-sm hidden-md">Karte</span>
              <% end %>
            </li>
            <li>
              <%= link_to(map_path, remote: true, class: :map, title: "Karte") do %>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="hidden-sm hidden-md">Karte</span>
              <% end %>
            </li>
            <li>
              <%= link_to(requests_path, remote: true, class: :requests, title: "Aufträge") do %>
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                <span class="hidden-sm hidden-md">Aufträge</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="modal fade" id="flash" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog"><div class="modal-content"></div></div>
    </div>
    <div id="ol-map"></div>
    <div id="content" class="container">
      <%= yield %>
    </div>
  </body>
</html>
